.container {
  position: absolute;
  left: 20%;
}
.roulette {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  left: 40%;
  background-color: red;
  background-size: 300px 300px;
  background-image: url('roulette.png');
  border-radius: 300px;
}

.spinner {
  cursor: pointer;
  color: red;
  font-weight: bold;
  border: none;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 100px;
  border-radius: 100%;
  z-index: 1000;
  background-color: blue;
}

.spinner .pointer {
  position: absolute;
  width: 0; 
  height: 0; 
  top: -8px;
  left: 40px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid blue;
}
